<div class="grid-answer">
  <%= form_for [:admin, @word] do |f| %>
    <%= render "/shared/error_messages", object: f.object %>
    <div class="col-md-4">
      <%= f.label :word %>
      <%= f.text_field :content %>
      <%= f.submit (t "word.create_button"), class: "btn btn-primary botton" %>
    </div>
    <div class="col-md-6">
      <label><%= t "word_answer.answers" %></label>
      <button type="button" id="btn"><%= t "word_answer.new_answer" %></button>
      <ol></ol>
    </div>
    <div class="col-md-2">
      <% if @categories.present? %>
        <label><%= t "category.categories" %></label>
        <%= select("word", "category_id",
          @categories.collect {|category| [ category.name, category.id ]},
            {include_blank: t(".none")}) %>
      <% end %>
    </div>
  <% end %>
</div>
