<div class="item">
  <div class="item-img">
    <%= gravatar_for user, size: Settings.avatar.size %>
  </div>
  <div class="item-body">
    <div class="item-info">
      <p class="mt-action-desc"><%= link_to user.name, user %></p>
    </div>
    <div class="item-datetime">
      <span class="mt-action-date"><%= l user.created_at, format: :long %></span>
    </div>
    <div class="item-buttons">
      <% if logged_in? and !current_user.current_user?(user) %>
          <%= link_to t(current_user.following?(user) ? "unfollow" : "follow"),
            "javascript:;", class: "btn btn-xs btn-"+
            (current_user.following?(user) ?
            "info unfollow" : "success follow") +" btn-follow",
            data: {id: user.id, follow: relationships_path,
            unfollow: relationship_path(user)} %>
          <% if current_user.is_admin %>
            <%= link_to t("delete"), user, method: :delete,
              data: {confirm: t("sure")}, class: "btn btn-xs btn-danger" %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
