<li><%= f.label f.object.word.content %></li>
<div class="lesson_word">
  <% f.object.word.word_answers.each do |answer| %>
    <div class="word_answer">
      <%= f.radio_button :word_answer_id, answer.id,
        disabled: f.object.lesson.is_complete? %>
      <%= answer.content %>
    </div>
  <% end %>
  <% if f.object.lesson.is_complete? %>
    <div>
      <% if f.object.is_correct %>
        <font color="green">
          <%= t "lesson.correct_answer" %>
        </font>
      <% else %>
        <font color="red">
          <%= t "lesson.incorrect_answer" %>
        </font>
      <% end %>
    </div>
  <% end %>
</div>
