<% provide :title, t("lesson.title") %>
<div>
  <%= @lesson.created_at %>
  <div class="score">
    <h4><%= t "lesson.your_score" %></h4>
    <%= @lesson.score %>
  </div>
</div>
<h1><%= t "lesson.your_answers"%></h1>
<%= form_for @lesson do |f| %>
  <ol>
    <%= f.fields_for :results do |builder| %>
      <%= render "result", f: builder %>
    <% end %>
  </ol>
<% end %>
<div>
  <%= link_to t("lesson.title"), lessons_path, class: "btn btn-primary button" %>
</div>
